<script src="node_modules/chart.js"></script>
<div>
  <canvas baseChart
          [datasets]="myChartData"
          [labels]="myChartLabels"
          [options]="myChartOptions"
          [legend]="myChartLegend"
          [chartType]="myChartType"
          [colors]="myChartColors"
  ></canvas>
</div>
<div class="hideable-container">
  <div class="container-header" (click)="openChartSettings($event)">Chart Settings</div>
  <div class="hideable-content" id="hideable-content">
    <div class="overall-settings">
      <div class="delete-chart" (click)="deleteChart()">Delete Chart</div>
      Overall Adjustments:
      <label>
        x min:
        <input type="date" [ngModel]="myChartLabels[0]*1000 | date:'yyyy-MM-dd'" (ngModelChange)="setStartX($event)" placeholder="Start Date">
      </label>
      <label>
        x max:
        <input type="date" [ngModel]="myChartLabels[1]*1000 | date:'yyyy-MM-dd'" (ngModelChange)="setEndX($event)" placeholder="End Date">
      </label>
<!--     <label>   This is not currently working-->
<!--        Begin at zero:-->
<!--        <input type="checkbox" [(ngModel)]="myChartOptions.scales.yAxes[0].ticks.beginAtZero" (ngModelChange)="resetChartData()"> {{myChartOptions.scales.yAxes[0].ticks.beginAtZero}}-->
<!--      </label> -&ndash;&gt;-->
    </div>
    <div *ngFor="let plot of myDataTypes" class="plot-settings">
      <label>
      y axis:
        <select  *ngIf="sortedData[plot.name]" [ngModel]="(plot.name === 'Solar' ? (plot.y_ref === 'ChargeControllerM' ? 'ChargeM' :
            (plot.y_ref === 'ChargeControllerP' ? 'ChargeP' : plot.y_ref))
              + ': ' + plot.y : plot.y)" (ngModelChange)="changeYAxis(plot, $event)">
          <option *ngFor="let s of sortedData[plot.name].y_values" >{{s}}</option>
        </select>
      </label>
      <label>
        scale?:
        <input type="checkbox" [ngModel]="(plot.scale!=1)" (ngModelChange)="setScale(plot, $event)">
      </label>
      Scale Factor: {{plot.scale | number: '1.2-3'}}
      <div class="delete-plot" (click)="deletePlot(plot)">X
      <span class="tooltiptext">Delete Plot</span>
      </div>
    </div>
    <div class="popup-opener" (click)="openPopUp($event)">Add Plot
      <div class="popup" id="myPopup">
        <div *ngFor="let title of sortedData | keyvalue" class="option" (click)="addPlot(title.key)">
          {{title.key}}
        </div>
      </div>
    </div>
  </div>
</div>
