/* Dropdown Button */
.dropbtn {
  background-color: #2A2A2A;
  color: #F0BF1E;
  padding: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #111111;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 150px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.checkOption:hover, .checkOption:focus {
  background-color: #2980B9;
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.chartForm {
  background-color: #F0BF1E;
  color: #2A2A2A;
  padding-bottom: 15px;
}

.input-date {
  background-color: #2A2A2A;
  color: #F0BF1E;
  border-style: none;
  font-family: Verdana, serif;
  border-radius: 5px;
  margin-left: 5px;
}

.chart-type {
  background-color: #2A2A2A;
  color: #F0BF1E;
  border-style: none;
  font-family: Verdana, serif;
  border-radius: 5px;
  margin-left: 5px;
}

h1 {
  text-align: center;
}

.submit-group {
  display: inline-block;
  float: right;
  vertical-align: bottom;
  background-color: #F0BF1E;
  margin-right: 15%;
  overflow: auto;
  max-width: 50%;
}

@media only screen and (max-width: 730px) {
  .submit-group {
    margin: 0;
    max-width: 100%;
    width: 100%;
    display: block;
  }
}

.btn-submit {
  background-color: #2A2A2A;
  color: #F0BF1E;
  border-color: #F0BF1E;
  border-radius: 2px;
  width: 60px;
  height: 30px;
  cursor: pointer;
  float: right;
}

.btn-submit:hover {
  background-color: #111111;
}

.btn-submit:disabled {
  background-color: #555555;
  visibility: hidden;
}

.split-group {
  display: inline-block;
}

