.title-block {
  font-size: xx-large;
  font-family: Verdana, serif;
  font-weight: bold;
  color: #F0BF1E;
  background-color: #111111;
  text-align: center;
  padding: 10px;
  margin-bottom: 5px;
}

.sub-title {
  font-size: large;
  font-family: Verdana, serif;
  font-weight: bold;
  color: #F0BF1E;
  background-color: #2A2A2A;
  text-align: center;
  padding: 5px;
  margin-bottom: 5px;
}

.data-container {
  font-family: Verdana, serif;
  background-color: #F0BF1E;
  color: #111111;
  padding-bottom: 10px;
}

.last-time {
  font-size: x-small;
}

.data-box {
  color: #2A2A2A;
  background-color: #F0BF1E;
  margin-bottom: 5px;
  margin-top: 5px;
  align-items: center;
  text-align: center;
}

.sub-box {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  color: #F0BF1E;
  background-color: #2A2A2A;
  width: 90%;
  border-radius: 5px;
  padding: 2%;
  margin-left: auto;
  margin-right: auto;
}

.data {
  align-self: stretch;
  vertical-align: center;
  display: inline;
  margin-left: auto;
  margin-right: auto;
  font-size: 2vw;
}

.data a {
  vertical-align: center;
  font-size: 3vw;
  font-weight: bold;
}
