
<h1>
  <div class="title-bar">
    College of the Ozarks Engineering
  </div>
  <ul>
    <li><a routerLink="/home" routerLinkActive="selected">Home</a></li>
    <li><a routerLink="/solar" routerLinkActive="selected">Solar</a></li>
    <li><a routerLink="/wind" routerLinkActive="selected">Wind</a></li>
    <li><a routerLink="/data" routerLinkActive="selected">Data</a></li>
    <li><a routerLink="/weather" routerLinkActive="selected">Weather</a></li>
  </ul>
</h1>
<router-outlet></router-outlet>
