
<div>

  <ul>
    <li><a routerLink="/home" routerLinkActive="selected">Home</a></li>
    <li><a routerLink="/solar" routerLinkActive="selected">Solar</a></li>
    <li><a routerLink="/wind" routerLinkActive="selected">Wind</a></li>
    <li><a routerLink="/data" routerLinkActive="selected">Data</a></li>
    <li><a routerLink="/weather" routerLinkActive="selected">Weather</a></li>
  </ul>
  <div class="title-bar">
    <img src="../assets/images/wind-solar.jpg" alt="">
    <div class="title-text">College of the Ozarks Engineering</div>
  </div>
</div>
<app-error-messages></app-error-messages>
<router-outlet></router-outlet>
<div class="bottom-bar">

  <div class="issues">Report Issue</div>

  <div class="copywrite">Copyright {{getYear()}} College of the Ozarks Engineering</div>

</div>
