
<div>

  <ul>
    <li><a routerLink="/home" routerLinkActive="selected" (click)="scroll()">Home</a></li>
    <li><a routerLink="/solar" routerLinkActive="selected" (click)="scroll()">Solar</a></li>
    <li><a routerLink="/wind" routerLinkActive="selected" (click)="scroll()">Wind</a></li>
    <li><a routerLink="/data" routerLinkActive="selected" (click)="scroll()">Data</a></li>
    <li><a routerLink="/weather" routerLinkActive="selected" (click)="scroll()">Weather</a></li>
  </ul>
  <div class="title-bar">
    <img src="../assets/images/wind-solar.jpg" alt="">
    <div class="title-text">College of the Ozarks Engineering</div>
  </div>
</div>
<app-error-messages></app-error-messages>
<router-outlet id="content"></router-outlet>
<div class="bottom-bar">

  <div class="issues" routerLink="/contact" routerLinkActive="selected">Report Issue</div>

  <div class="copywrite">Copyright {{getYear()}} College of the Ozarks Engineering</div>

</div>
