<div class="title-block">Home Page</div>
<div class="content">
  <div class="left-text mobile">
    <div class="sub-title">General Info</div>
    Two engineering capstone project groups from the cohort of 2020 were responsible for designing and building off-grid
     renewable energy sources. One group focused on a solar array, while the other group focused on a wind turbine.
    This website is used to monitor those systems as well as gather historical data that can be used in labs and
    research if desired.
  </div>
  <img class="right-img mobile" src="./assets/images/solar-panels.jpg" alt="Image of Solar Panels at C of O">
  <div class="right-text mobile">
    The image above is of the solar array outside of the College of the Ozarks Dee Ann White Engineering building.
  </div>
  <div class="fill-text mobile">
    <div class="sub-title">Instructions</div>
    In the navigation bar at the top of the page you will see five links. "Home" which is the current page you are on.
    "Solar" which provides real-time data output from the solar array. "Wind" which provides real-time data output
    from the wind turbine. "Data" which allows you to graph data that has been gathered in the past. "Weather"
    which allows you to see real-time weather data. <br> <br>
    If you run into any issues, please report them by using the link at the bottom of the page.
  </div>
</div>
